<section class="page">
    <div class="intro-container">
      <h2>{{ $t('home.intro') }}</h2>
    </div>
    <div class="card-container">
      <section class="card">
        <div class="card-text">
          <h2>{{ $t('home.history.title') }}</h2>
          <p>{{ $t('home.history.origin') }}</p>
        </div>
      </section>

      <section class="card">
        <div class="card-text">
          <h2>Переиспользование</h2>
          <p>{{ $t('home.history.reuse') }}</p>
        </div>
      </section>

      <section class="card">
        <div class="card-text">
          <h2>Местоположение</h2>
          <p>{{ $t('home.history.location') }}</p>
          <p>{{ $t('home.history.status') }}</p>
        </div>
      </section>
    </div>
    <div class="history-timeline">
      <h2>Исторические периоды Ньюгрейнджа</h2>
      <div class="timeline-container">
        <div class="timeline-item ancient">
          <div class="timeline-marker">
            <div class="marker-circle"></div>
            <div class="marker-line"></div>
          </div>
          <div class="timeline-content">
            <h3>Древний период</h3>
            <div class="period-card">
              <div class="period-image">
                <img
                  src="../../assets/main/ancient.jpeg"
                  alt="Древний Ньюгрейндж"
                />
              </div>
              <div class="period-text">
                <p>{{ $t('home.history.periods.decline') }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="timeline-item rediscovery">
          <div class="timeline-marker">
            <div class="marker-circle"></div>
            <div class="marker-line"></div>
          </div>
          <div class="timeline-content">
            <h3>1699 год</h3>
            <div class="period-card">
              <div class="period-text">
                <p>{{ $t('home.history.periods.rediscovery') }}</p>
              </div>
              <div class="period-image">
                <img
                  src="../../assets/main/rediscovery.jpeg"
                  alt="Открытие Ньюгрейнджа"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="timeline-item modern">
          <div class="timeline-marker">
            <div class="marker-circle"></div>
            <div class="marker-line"></div>
          </div>
          <div class="timeline-content">
            <h3>XX век</h3>
            <div class="period-card">
              <div class="period-image">
                <img
                  src="../../assets/main/modern.jpeg"
                  alt="Археологические раскопки"
                />
              </div>
              <div class="period-text">
                <p>{{ $t('home.history.periods.archaeological') }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="theories-container">
      <h2>Теории происхождения</h2>
      <div class="card-container">
        <section class="card">
          <div class="card-text">
            <h2>{{ $t('home.history.theories.labor.title') }}</h2>
            <p>{{ $t('home.history.theories.labor.description') }}</p>
          </div>
        </section>
        <section class="card">
          <div class="card-text">
            <h2>{{ $t('home.history.theories.mystical.title') }}</h2>
            <p>{{ $t('home.history.theories.mystical.description') }}</p>
          </div>
        </section>
        <section class="card">
          <div class="card-text">
            <h2>{{ $t('home.history.theories.archaeological.title') }}</h2>
            <p>{{ $t('home.history.theories.archaeological.description') }}</p>
          </div>
        </section>
      </div>
    </div>
    
    <div class="architecture-container">
        <div class="architecture-intro">
          <h2>{{ jsonData.home.architecture.title }}</h2>
          <p>{{ jsonData.home.architecture.description }}</p>
          <div class="scroll-buttons intro-scroll-buttons">
            <button @click="scrollLeft">←</button>
            <button @click="scrollRight">→</button>
          </div>
        </div>
        <div class="architecture-scroll" ref="scrollContent">
          <div
            class="architecture-card"
            v-for="(card, index) in architectureCards"
            :key="index"
          >
            <img :src="`/src/assets/main/arch-${index + 1}.png`" alt="image" />
      
            <div class="card-title">{{ card.title }}</div>
      
            <ul class="card-params">
              <li v-for="(item, i) in card.items" :key="i">{{ item }}</li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="astronomy-container">
        <h2>Астрономическое значение</h2>
        <div class="timeline-container">
          <div class="timeline-item ancient">
            <div class="timeline-content">
              <h3>Астрономическая ориентация</h3>
              <div class="period-card">
                <div class="period-image">
                  <img
                    src="../../assets/main/orientation.png"
                    alt="Древний Ньюгрейндж"
                  />
                </div>
                <div class="period-text">
                  <div class="astro-div">{{ $t('home.astronomy.orientation.tunnel') }}.</div>
                  <div class="astro-div">{{$t('home.astronomy.orientation.entrance')}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="timeline-item rediscovery">
            <div class="timeline-content">
              <h3>Феномен солнцестояния</h3>
              <div class="period-card">
                <div class="period-text">
                  <div class="astro-div">{{ $t('home.astronomy.fenomen.osvesh') }}</div>
                  <div class="astro-div">{{ $t('home.astronomy.fenomen.duration') }}</div>
                  <div class="astro-div">{{ $t('home.astronomy.fenomen.effect') }}.</div>
                </div>
                <div class="period-image">
                  <img
                    src="../../assets/main/fenomen.png"
                    alt="Открытие Ньюгрейнджа"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="timeline-item modern">
            <div class="timeline-content">
              <h3>Как попасть?</h3>
              <div class="period-card">
                <div class="period-image">
                  <img
                    src="../../assets/main/modern.jpeg"
                    alt="Археологические раскопки"
                  />
                </div>
                <div class="period-text">
                  <div class="astro-div">{{ $t('home.astronomy.lottery&access.lottery') }}</div>
                  <div class="astro-div">{{ $t('home.astronomy.lottery&access.stat') }}</div>
                  <div class="astro-div">{{ $t('home.astronomy.lottery&access.reconstruction') }}.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
  </section>